@using Microsoft.AspNetCore.Identity
@model IdentityUser

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-primary">Save</button>
</form>
