@model System.Data.DataTable
@using System.Data
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tableName = ViewBag.TableName as string;
}


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@tableName</h4>
            <p class="card-description">
              
            </p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            @foreach (DataColumn column in Model.Columns)
                            {
                                <th>@column.ColumnName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow row in Model.Rows)
                        {
                            <tr>
                                @foreach (DataColumn column in Model.Columns)
                                {
                                    <td>@row[column.ColumnName]</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
 
