@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<!-- Content -->

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="index.html" class="app-brand-link gap-2">
                            
                            <span class="app-brand-text  text-body fw-bolder">Business Suite</span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">Welcome to SkauTechs Business Suite!</h4>
                    <p class="mb-4">Please sign-in to your account and start the adventure</p>

                    <form id="account" method="post" class="mb-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email or Username</label>
                            <input asp-for="Input.Email"
                                   type="text"
                                   class="form-control"
                                   id="email"
                                   placeholder="Enter your email or username"
                                   autofocus />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>

                         </div>
                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="password">Password</label>
                                <a id="forgot-password" asp-page="./ForgotPassword"><small>Forgot Password?</small></a>
                            </div>
                            <div class="input-group input-group-merge">
                                <input asp-for="Input.Password"
                                       type="password"
                                       id="password"
                                       class="form-control"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="password" />

                                <span asp-validation-for="Input.Password" class="text-danger"></span>


                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <label asp-for="Input.RememberMe" class="form-check-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
                        </div>
                    </form>

                   @*  <p class="text-center">
                        <span>New on our platform?</span>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                            <span>Create an account</span>
                        </a>
                    </p> *@
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>
