@using BusinessSuite.Data
@inject ApplicationDbContext _dbcontext
@{
    var websites = _dbcontext.Websites.ToList();
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Websites</h4>

    <!-- Grid Card -->
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
         @foreach (var website in websites)
        {
            <a asp-controller="Website" asp-action="Index" asp-route-websiteid="@website.Id">
                <div class="col">
                    <div class="card h-100">
                        <img class="card-img-top" src="../assets/img/elements/2.jpg" alt="Card image cap" />
                        <div class="card-body">
                            <h5 class="card-title">@website.Name</h5>
                            <div>
                                Created Date:
                                <span>
                                    @website.CreatedDate
                                </span>
                            </div>
                            <p class="card-text">
                                @website.Description
                            </p>
                            </div>
                    </div>
                </div>
                </a>
       }
    </div>
