<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="~/css/style.css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Admin Dashboard Panel</title>
</head>

<body>

    <nav>
        <partial name="_SidebarPartial" />
    </nav>

    <section class="dashboard">
        
        <partial name="_NavigationPartial" />
        <div class="dash-content">
            <div class="overview">
                @RenderBody()

                <partial name="_FooterPartial" />
            </div>

        </div>
    </section>

    <script src="~/js/script.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>



