@using BusinessSuite.Models.Master_Models
@using Microsoft.AspNetCore.Identity
@using BusinessSuite.Data
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ApplicationDbContext _dbcontext
@{
    string currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    string currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    bool IsActive(string controller, string action)
    {
        return currentController == controller && currentAction == action;
    }
    // Get the currently authenticated user
    var user = await UserManager.GetUserAsync(User);
    ApplicationUser applicationUser = null;
    // Check if the user is authenticated
    IList<string> roles = null;
    if (user != null)
    {

        applicationUser = _dbcontext.ApplicationUsers.Where(x => x.Id == user.Id).FirstOrDefault();


        // Get the user's roles
        roles = await UserManager.GetRolesAsync(user);

    }
    else
    {
    }
    DateTime dateTime = DateTime.Now;

    int hour = dateTime.Hour;
    string greetings = "";
    if(hour>3 && hour<12)
    {
        greetings = "Good Morning";
    }
    else if(hour>=12 && hour<4)
    {
        greetings = "Good Afternoon";
    }
    else if(hour>=4 && hour<=7)
    {
        greetings = "Good Evening";
    }
    else 
    {
        greetings = "Hello";
    }


    var webId = 0;
    int? websiteId = TempData["WebsiteId"] as int?;

    // Check if count has a value and is greater than 0
    if (websiteId.HasValue)
    {
        webId = websiteId.HasValue ? websiteId.Value : 0;
    }
    var dbMaster = _dbcontext.DatabaseMasters.Where(i => i.WebsiteId == webId).FirstOrDefault();
    List<TableMaster> catalogs = null;
    if (dbMaster != null)
    {
        catalogs = _dbcontext.TableMasters.Where(i => i.DatabaseMasterId == dbMaster.Id).ToList();
    }
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>

            <img src="images/profile.jpg" alt="">
          
        </div>
       

    }
   @*  else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    } *@
</ul>
